.banner{
    background-image: url('../../Images/banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner-overlay{
    height: 300px;
    background-color: rgba(0,0,0,0.4);
}
